/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.main_container {
  padding: 30px 20px;
}
.graph_container {
  position: relative;
  height: 40vh;
  width: 80vw;
  margin-top: 78px;
}
.search_wrapper {
  max-width: 650px;
}
.add_org {
  width: 150px;
}
.no_underline {
  text-decoration: none;
}
.form_layout {
  max-width: 600px;
}
.form-title {
  margin-block: 20px;
  /* text-align: center; */
}
